extends layouts/master

block title
  title 爆音上映とは - カナザワ映画祭2015｜かなざわ映画の会

block body
  #bakuonPage
    .center
      img(src='./images/anobakuon.png')
    .content
      p 爆音上映とは、通常の映画用の音響セッティングではなく、音楽ライヴ用の音響セッティングをフルに使い、ボリュームも限界まで上げ大音響の中で映画を見・聴く試みです。一般劇場上映では聴くことの出来ない迫力と、その爆音によって視覚までもが変容して映画そのものも違って見えるトリップ感覚、そしてまた、大音響でなければ聞こえてこない幽かな音を聴くという、大胆かつ繊細な上映となります。もちろん「爆音」とは言っても音を大きくするだけではありません。その映画にとって最適な音とは何か、その音があることによって映画が違って見えてくるそれぞれの映画における音の核心はどこにあるのか？そんな映画におけるベ ストな音の探求こそ、爆音上映の醍醐味です。その大音響の中で、かつて見たことのある映画がまったく新しい映画として蘇ってくる、いわば〈映画の再生〉の瞬間に立ち会える喜びを、多くの人と分かち合いたいと考えます。
      p text by 樋口泰人（映画評論家／爆音映画祭プロデューサー）
