extends layouts/master

block title
  title 爆音カーペンター - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='爆音カーペンター - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/carpenter.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/carpenter.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #detailPage
    h1 爆音カーペンター
    .banner
      img(src='./images/carpenter.png')
    .aori
      p 脳内リピート中毒になるカーペンター・ミュージックを爆音で！
    p.center
      a(href='./bakuon.html')
        img(src='./images/bakuon.png')
    .film#assaultonprecinct13
      h2
        .ja 要塞警察
        .en Assault on Precinct 13
      .capture
        img(src='./images/assaultonprecinct13.png')
      .info
        p 1976年／アメリカ／91min／シネスコ／英語・日本語字幕
        p 監督・脚本・音楽：ジョン・カーペンター
        p 撮影：ダグラス・ナップ
        p 出演：オースティン・ストーカー、ダーウィン・ジョストン、ローリー・ジマー、マーティン・ウェスト
      .desc
        p L.A.郊外の寂れた区画にある警察署が突如謎のギャング集団（都市型ゲリラ？）に襲撃される。少数の警官と拘置されていた容疑者が力を合わせて、外から警察署に襲撃をかけてくるギャングたちと闘う。冒頭に理由もなく少女を殺し、何度撃たれてもひるまずゾンビのように突撃してくるギャングたち。彼らの正体もその目的も分からず、ひどく不気味である。監督脚本のみならず音楽も担当したジョン・カーペンターの反復ミュージックがさらに不気味さを助長している。デジタル・リマスター版でクリアになった音響の爆音上映でカーペンターの名作を蘇らせる。
        p
          a.dottedAnchor(href='http://eiganokai.blog.fc2.com/blog-entry-310.html') 更に詳しくはこちら
    .film#inthemouthofmadness
      h2
        .ja マウス・オブ・マッドネス
        .en In the Mouth of Madness
      .capture
        img(src='./images/inthemouthofmadness.png')
      .info
        p 1994年／アメリカ／95min／シネスコ／英語・日本語字幕
        p 監督・音楽：ジョン・カーペンター
        p 脚本：マイケル・デ・ルカ
        p 音楽：ジム・ラング
        p 特撮：ＩＬＭ
        p 特殊メイク：ＫＮＢ　ＥＦＸ
        p 出演：サム・ニール、ジュリー・カーメン、ユルゲン・プロフノウ、ジョン・グローヴァー、チャールトン・ヘストン
      .desc
        p 主人公の保険調査員サム・ニールが、行方不明になったベストセラー作家を探すうちに、太古の邪神たちが跋扈する闇の世界に足を踏み入れてしまう。「狂気の淵」に陥った彼が正気を保てなくなるのと同様に、この作品を見ている観客の我々も何が現実で何が幻覚か判断できなくなる奇妙な感覚に囚われるだろう。クトゥルー神話版『2001年 宇宙の旅』のようなトリップ型映画を爆音上映。アナタは正気を保てるか？
