extends layouts/master

block title
  title 田舎ホラー大全科 - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='田舎ホラー大全科 - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/countryhorror.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/countryhorror.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #detailPage
    h1 田舎ホラー大全科
    .banner(style="background-image: url('./images/countryhorror.png'); background-position: bottom;")
    .film#questforfire
      h2
        .ja 人類創世
        .en La guerre du feu
      .capture
        img(src='./images/questforfire.png')
      .info
        p 1981年／フランス、カナダ／100min／シネスコ／英語・日本語字幕
        p 監督：ジャン＝ジャック・アノー
        p 脚本：ジェラール・ブラッシュ
        p 音楽：フィリップ・サルド
        p 撮影：クロード・アゴスティーニ
        p 出演：ロン・パールマン、レイ・ドーン・チョン、ナミール・エル＝カディ、エヴェレット・マッギル
      .desc
        p 8万年前、あるネアンデルタール人の一部族が狂暴な猿人たちに襲撃され、大切にしていた火を失った。部族の若者三人は火を求めて長い旅に出るのだった。広い原野は人喰い族たちやサーベルタイガー、マンモスなどの危険に満ちていた。果たして彼らは無事に火を見つけ、家に持ち帰ることができるのだろうか？　言語学者アンソニー・バージェスが考案した原言語のセリフが字幕なしで話されるが、映画を完璧に理解することができるのは映画の基本ともいうべき無声映画の手法が使われているため。「昔むかし火のことで喧嘩ばかりしていました」は公開当時のコピー。
    .film#spiderbaby
      h2
        .ja スパイダー・ベイビー あるいは（最も狂気な物語）
        .en Spider Baby or, The Maddest Story Ever Told
      .capture
        img(src='./images/spiderbaby.png')
      .info
        p 1968年／アメリカ／81分／ビスタ／英語・日本語字幕
        p 監督・脚本：ジャック・ヒル
        p 音楽：ロナルド・スタイン
        p 撮影：アルフレッド・テイラー
        p 出演：ロン・チェイニー・Ｊｒ、キャロル・オーマート、クイン・Ｋ・レデカー、ジル・バナー、シド・ヘイグ、メアリー・ミッチェル
      .desc
        p アメリカの田舎に住むメリー家の血筋のみが発症する奇病「メリー症候群」。年齢が進むと知能が原始人レベルに退化し、肉体も奇形化、最後には人肉嗜食に走るという。彼らメリー家の財産を狙って訪れた遠縁の親戚と弁護士たちを襲う恐怖の一夜。メリー家の殺人狂姉妹を世話する執事役に名優ロン・チャニー・ジュニア（一度聞いたら忘れられない主題歌も担当）。不遇に見まわれ4年間も塩漬けされていた本作は、公開するとじわじわとカルト的な人気を博し、現在でも世界のどこかで上映され続けるほど人気作となった。
    .film#justbeforedawn
      h2
        .ja 山の一家
        .en Just Before Dawn
      .capture
        img(src='./images/justbeforedawn.png')
      .info
        p 1980年／アメリカ／91分／ビスタ／英語・日本語字幕
        p 監督：ジェフ・リーバーマン
        p 脚本：マーク・Ｌ・アリウィッツ、グレッグ・アーヴィイング
        p 音楽：ブラッド・フィーデル
        p 出演：ジョージ・ケネディ、マイク・ケリン、グレッグ・ヘンリー、デボラ・ベンソン
      .desc
        p 人里離れた山にハイキングに来た若者たちが山に住む奇妙な一家と遭遇する。酔っぱらいの猟師から「この山には悪魔がいるぞ」と警告を受けるが、無視して山奥に進む若者たちは夜明けまでの恐怖の一夜を迎えるのだった。果たして「山の悪魔」とは何者なのか？『スクワーム』や『悪魔の狂暴パニック』をモノにしたホラーの鬼才ジェフ・リーバーマンによる典型的「田舎ホラー」作品の埋もれた傑作である。
    .film#texaschainsawmassacre
      h2
        .ja 悪魔のいけにえ　４Kヴァージョン
        .en The Texas Chain Saw Massacre 4k ver.
      .capture
        img(src='./images/texaschainsawmassacre.png')
      .info
        p 1975年／アメリカ／84min／スタンダード／英語・日本語字幕
        p 監督：トビー・フーパー
        p 脚本：トビー・フーパー、キム・ヘンケル
        p 音楽：ウェイン・ベル、トビー・フーパー
        p 出演：マリリン・バーンズ、ガンナー・ハンセン、エド・ニール、アレン・ダンジガー、ポール・Ａ・パーテイン、ジム・シードウ
      .desc
        p テキサスの荒れ果てた荒野に人を拐って食べている狂人一家が住んでいた。ドライブ旅行を楽しんでいた若者たちは運悪く、狂人一家の一人を車に乗せてしまう。そこから始まる恐怖の一日。登場人物同様に観客にも逃げ場がないたたみかける恐怖演出。特に人皮で作ったマスクを被り、チェーンソーを振り回す一家の暴力装置レザーフェイスの登場場面はそういう人物が実際にいるとしか思えないほどの臨場感だ。今回上映するのは国内発上映となる高解像度４Kマスターバージョンである。またデジタル・リマスターされた音響もパワーアップしている。
    .film#primecut
      h2
        .ja ブラック・エース
        .en Prime Cut
      .capture
        img(src='./images/primecut.png')
      .info
        p 1972年／アメリカ／86min／シネスコ／英語・日本語字幕
        p 監督：マイケル・リッチー
        p 脚本：ロバート・ディロン
        p 音楽：ラロ・シフリン
        p 出演：リー・マーヴィン、ジーン・ハックマン、グレゴリー・ウォルコット、エンジェル・トンプキンス、ジャニット・ボールドウィン、シシー・スペイセク
      .desc
        p 借金を取り立てに行ったらソーセージにされてしまった！　手下をソーセージにされた大都会シカゴのボスから雇われた凄腕のリー・マービンが、借金を返さないカンザスの田舎者ジーン・ハックマンの農場を訪れる。身寄りのない少女を奴隷として人身売買し、衆人の目の前で平然と行われる殺人、そこは警察も入れない無法地帯だった。借金を返さない上に、仲間を殺したこのどん百姓ジーン・ハックマン。借金も返さない奴は死ね！　リー・マービンのマシンガンが火を噴くのだった。常識も倫理も通じない田舎の一帯。これはまさに「田舎ホラー」の恐怖だ。
    .film#deliverance
      h2
        .ja 脱出
        .en Deliverance
      .capture
        img(src='./images/deliverance.png')
      .info
        p 1972年／アメリカ／110min／シネスコ／英語・日本語字幕
        p 監督：ジョン・ブアマン
        p 原作・脚本：ジェームズ・ディッキー
        p 音楽：エリック・ワイズバーグ、スティーヴ・マンデル
        p 撮影：ヴィルモス・ジグモンド、ビル・バトラー
        p 出演：ジョン・ヴォイト、バート・レイノルズ、ロニー・コックス、ネッド・ビーティ、ビル・マッキーニー
      .desc
        p アメリカの辺境のアラバマ州とジョージア州の境に位置する川にカヌーをしにやって来た都会からの四人組が些細な事から地元民とトラブルになり、命をかけた闘いが始まる。アメリカの辺境の深い闇を炙りだした本作は、その後多数作られることになる「田舎ホラー」の元祖となり、また文明国アメリカに常識も倫理も文化も違うこのような土地が存在することは世界中に驚きと恐怖を与えた。名撮影監督ヴィルモス・ジグモンドの美しいロケーション撮影が映えるデジタル・リマスター版で日本初上映。
    .film#mujinku
      h2
        .ja 無人区
        .en 无人区
      .capture
        img(src='./images/mujinku.png')
      .info
        p 2013年／中国／117min／ビスタ／中国語・日本語字幕
        p 監督：寧浩
        p 脚本：述平
        p 主演：徐崢、黄渤、余男
      .desc
        p 広大な荒れ地が広がる中国大陸辺境。密猟者の弁護を受け持った都会からの弁護士が文明の常識が通じない田舎で遭遇する野蛮と狂気。彼はそこから脱出することができるのか？荒野の地平線まで伸びる道路を疾走するカーチェイス、砂塵が舞う赤茶けた風景、まるで東洋版『マッドマックス』を思い出させる本作は、見慣れた香港映画とは全然違うルックを持った中国大陸映画の傑作である。荒れ地でガソリンスタンド兼肉屋を経営する怪しい一家も登場し東洋版『悪魔のいけにえ』も思い起こさせる中国産「田舎ホラー」。
    .film#NH-10
      h2
        .ja 印度国道10号線
        .en NH 10
      .capture
        img(src='./images/NH-10.png')
      .info
        p 2015年／インド／115min／ビスタ／ヒンディー語・日本語字幕
        p 監督：ナヴディープ・シン
        p 出演：アヌシュカー・シャルマー、ニール・ブーパラム、ダルシャン・クマール、ディープティ・ナヴァルユー・ナン
      .desc
        p インドの辺境国道10号線をドライブ旅行する大都会デリーの洗練されたカップルは、休憩で入ったドライブインで男たちが少女と少年を誘拐するのを見る。大勢の前で堂々と行われる犯罪を誰も止めようとしない。怒ったカップルの彼氏方は彼女が「関わり合いにならないで」と止めるのも聞かずに男たちを追跡し、尊属殺人（家族間の殺人）の現場を目撃してしまう。「わしらにはわしらのルールがある」と襲いかかる地元民。果たしてカップルはこの土地から脱出できるのか？　主人公たちへの追い込み方が半端ではないインド産「田舎ホラー」。今年3月にインドで上映された最新作を日本初上映。
    .film#talk
      h2
        .ja 平山夢明×牧野修 トーク
      .pure-u-1-2
        .capture
          img(src='./images/hirayama.png')
      .pure-u-1-2
        .capture
          img(src='./images/makino.png')
      .pure-u-1-2
        .info
          p 平山夢明（ひらやま・ゆめあき）
          p 1961年神奈川県生まれ。学生時代にホラー映画を自主制作。映画評論を手がけた後、作家活動を開始。1994年にノンフィクション『異常快楽殺人』（角川ホラー文庫）を刊行。1996年に『Sinker―沈むもの』（徳間書店）で小説家としてデビュー。2006年「独白するユニバーサル横メルカトル」で第59回日本推理作家協会短編賞、2007年受賞作を収録した作品集『独白するユニバーサル横メルカトル』（光文社文庫）にて『このミステリーがすごい！』国内部門一位を獲得。『DINER』（ポプラ文庫）で2009年日本冒険小説協会大賞、2011年大藪春彦賞をダブル受賞。著作に『ミサイルマン』（光文社文庫）『他人事』（集英社文庫）『或るろくでなしの死』（角川書店）『暗くて静かでロックな娘』（集英社）や怪談実話シリーズ『｢超｣怖い話』『東京伝説』（共に竹書房ホラー文庫）、『怖い話』（ハルキ・ホラー文庫）など。
      .pure-u-1-2
        .info
          p 牧野修（まきの　おさむ）
          p 大阪府出身。 1992年『王の眠る丘』で作家デビュー。1999年『スイート・リトル・ベイビー』で第6回日本ホラー小説大賞長編賞佳作。2002年『傀儡后』で第23回日本SF大賞受賞。著書は『死んだ女は歩かない１～３』『私の本気をあなたは馬鹿というかもね』『冥福　日々のオバケ』など多数。 最新刊は『月世界小説』ハヤカワ文庫JA。ナゴム、ホラーライフ」
      .pure-u-1-1
        .desc
          p 9/20(日) 15:30〜
          p 詳しくは
            a.dottedAnchor(href='./schedule.html') スケジュール
            | をご覧ください
