extends layouts/master

block title
  title Kanazawa Film Fest 2015 - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Kanazawa Film Fest - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/english.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/eng1.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #english
    #main.pure-u-1-1
      a(href='./images/eng1.png')
        img.max(src='./images/eng1.png')
      a(href='./images/eng2.png')
        img.max(src='./images/eng2.png')
