extends layouts/master

block title
  title 彼方より...... - カナザワ映画祭2015｜かなざわ映画の会

block body
  #detailPage
    h1 彼方より......
    .banner(style="background-image: url('./images/faraway.jpg');")
    .film#nightbreed
      h2
        .ja ミディアン 完全版
        .en Nightbreed:The Director's Cut
      .capture
        img(src='./images/nightbreed.jpg')
      .info
        p 1990年／アメリカ／120min／ビスタ／英語・日本語字幕
        p 監督・脚本：クライヴ・バーカー
        p 音楽：ダニー・エルフマン
        p 撮影：ロビン・ヴィジョン
        p 出演：デヴィッド・クローネンバーグ、クレイグ・シェイファー、アン・ボビー、チャールズ・ヘイド、ヒュー・クァーシー、ヒュー・ロス、ダグ・ブラッドレイ
      .desc
        p 無実の罪で警察に追われる主人公の青年ブーンは、夜の種族「ミディアン」の遺跡で「彼ら」と出会う。「彼ら」は人類史の影で悪魔や妖怪、怪物として忌み嫌われてきた種族だった。人間「警察軍」と夜の種族「ミディアン」を争わせるため暗躍する純粋悪のサイコキラーをデヴィッド・クローネンバーグが怪演する。人間＝善、夜の種族＝悪とは単純に分けれない重層的な世界観はクライブ・バーカーの真骨頂である。劇場公開版より16分ながいディレクターズ・カットのデジタル・リマスター版を日本初上映。
    .film#inthemouthofmadness
      h2
        .ja マウス・オブ・マッドネス
        .en In the Mouth of Madness
      .capture
        img(src='./images/inthemouthofmadness.jpg')
      .info
        p 1994年／アメリカ／96min／シネスコ／英語・日本語字幕
        p 監督・音楽：ジョン・カーペンター
        p 脚本：マイケル・デ・ルカ
        p 音楽：ジム・ラング
        p 特撮：ＩＬＭ	
        p 特殊メイク：ＫＮＢ　ＥＦＸ
        p 出演：サム・ニール、ジュリー・カーメン、ユルゲン・プロフノウ、ジョン・グローヴァー、チャールトン・ヘストン
      .desc
        p 主人公の保険調査員サム・ニールが行方不明になったベストセラー作家を探すうちに、太鼓の邪神たちが跋扈する闇の世界に足を踏み入れてしまう。「狂気の淵」に陥った彼が正気を保てなくなるのと同様に、この作品を見ている観客の我々も何が現実で何が幻覚が判断できなくなる奇妙な感覚に囚われるだろう。クトゥルー・ホラー版『2001年 宇宙の旅』のようなトリップ型映画を爆音上映。アナタは正気を保てるか？
    .film#blob
      h2
        .ja ブロブ／宇宙からの不明物体
        .en The Blob
      .capture
        img(src='./images/blob.png')
      .info
        p 1989年／アメリカ／95min／ビスタ／英語・日本語字幕
        p 監督・脚本：チャック・ラッセル
        p 脚本：フランク・ダラボン
        p 音楽：マイケル・ホーニッグ
        p 撮影：マーク・アーウィン
        p 出演：ケヴィン・ディロン、ショウニー・スミス、ドノヴァン・リーチ、リッキー・ポール・ゴールディン
      .desc
        p 片田舎の町に謎の隕石が落下。中から出てきたアメーバー状の不定形の物体が住民たちを溶かして食べ始めた。パニックになった町には白い服を着た政府機関の人間たちもやって来た。通常の攻撃を全く受け付けないこの怪物をどうやって倒すのか？　B級モンスター映画の典型的設定から定石を外した驚きの展開は、脚本を担当したフランク・ダラボンの功績。その脚本を手堅くテンポよく演出するチャック・ラッセルは娯楽職人の腕をふるい本作を全く飽きさせない快作に仕上げている。
    .film#mist
      h2
        .ja 霧
        .en The Mist:Black & White ver.
      .capture
        img(src='./images/mist.jpg')
      .info
        p 2008年／アメリカ／125min／ビスタ／英語・日本語字幕
        p 監督・脚本：フランク・ダラボン
        p 音楽：マーク・アイシャム
        p 撮影：ロン・シュミット
        p 出演：トーマス・ジェーン、マーシャ・ゲイ・ハーデン、ローリー・ホールデン、アンドレ・ブラウアー、トビー・ジョーンズ、ウィリアム・サドラー
      .desc
        p ある田舎町のスーパーマーケットの周りに謎の霧が発生。視界の効かない濃霧のうえ、霧の中には奇怪な生物まで跋扈しているようだ。大勢の人々がスーパーマーケット内に閉じ込められてしまう。クトゥルーの邪神を思わせる謎の怪物たちの襲撃に加え、人間たち同士でも不信感から争いが勃発した。外と内からの恐怖で逃げ場のない主人公の父と息子。この地獄から脱出できるのだろうか？　フランク・ダラボンが本来上映したかったバージョンである白黒版を日本初公開。モノクロになり絶望感と怖さが倍増している。
    .film#Q
      h2
        .ja 空の大怪獣Q
        .en Winged Serpent Q
      .capture
        img(src='./images/Q.jpg')
      .info
        p 1982年／アメリカ／91min／ビスタ／英語・日本語字幕
        p 監督・脚本：ラリー・コーエン
        p 音楽：ロバート・Ｏ・ラグランド
        p 撮影：フレッド・マーフィ、ロバート・レヴィ
        p 出演：マイケル・モリアーティ、デヴィッド・キャラダイン、リチャード・ラウンドトゥリー、キャンディ・クラーク、ジェームズ・ディクソン、マラキー・マッコート
      .desc
        p 古代アステカ神話の怪獣ケツァルコルトルが現代ニューヨークの高層ビルに巣を作って人知れず住んでいた。ビルの頂上に住む怪獣と街の底辺のチンピラやその情婦、刑事たちの生活感あふれる物語が交差して進む他に類のないユニークな作品なのは監督脚本のラリー・コーエンの特徴。聖と俗が入り混じり、話の方向性が全く予想できない本作は意図したのか（しなかったのか）神話的な作品となっている。ランディ・クックによる怪獣のストップモーションも見所。日本初公開。
    .film#godtoldmeto
      h2
        .ja 神が殺せと云った
        .en God Told Me To
      .capture
        img(src='./images/godtoldmeto.jpg')
      .info
        p 1976年／アメリカ／90min／ビスタ／英語・日本語字幕
        p 監督・脚本：ラリー・コーエン
        p 音楽：フランコ・コーデル
        p 撮影：ポール・グリックマン
        p 出演：トニー・ロー・ビアンコ、デボラ・ラフィン、サンディ・デニス、シルヴィア・シドニー
      .desc
        p ニューヨークで連続して発生する通り魔的大量殺人。犯人たちは皆「神が殺せと云った」と証言した。事件を追う主人公の刑事は、人類に歴史上介入してきた「神」の存在を見つけ出し、闇の世界に陥るのだった。「神」を巡る聖なるストーリーと平行して、不倫に悩む主人公やスラムの黒人ギャングなどの俗なストーリーが語られるラリー・コーエンならではのユニークな作品。当時のゲリラ的なニューヨーク・ロケが独特の雰囲気を出し、荒唐無稽とも言われかねない作品の臨場感を上げている。
    .film#quatermassandthepit
      h2
        .ja 怪談クオーターマス教授と地獄の穴
        .en Quatermass and the Pit
      .capture
        img(src='./images/quatermassandthepit.jpg')
      .info
        p 1967年／イギリス／98min／ビスタ／英語・日本語字幕
        p 監督：ロイ・ウォード・ベイカー
        p 脚本：ナイジェル・ニール
        p 音楽：トリストラム・ケリー
        p 撮影：アーサー・グラント
        p 出演：アンドリュー・キア、ジェームズ・ドナルド、バーバラ・シェリー、ジュリアン・グローヴァー、モーリス・グッド、ダンカン・ラモント、ブライアン・マーシャル
      .desc
        p ロンドンの地下鉄工事中に原始人の化石とともに謎の人工物が発見された。その近辺はローマ時代の昔から現在まで幽霊や妖精の目撃談など怪奇現象の絶えない地域だった。クオーターマス教授は地下で発見された人工物の謎を追う。数々のSFホラーのクリエイターに強烈な影響を与えたクラシック作品。物語のスケールがどんどん広がっていくドライブ感満載の脚本が素晴らしい。TVのクオーターマス教授シリーズの一話をデジタル・リマスター版で日本初公開。
    .film#invasionofthebodysnatchers
      h2
        .ja SF／ボディ・スナッチャー
        .en Invasion of the Body Snatchers
      .capture
        img(src='./images/invasionofthebodysnatchers.jpg')
      .info
        p 1979年／アメリカ／115min／ビスタ／英語・日本語字幕
        p 監督：フィリップ・カウフマン
        p 脚本：Ｗ・Ｄ・リクター
        p 音楽：デニー・ザイトリン
        p 撮影：マイケル・チャップマン
        p 出演：ドナルド・サザーランド、ブルック・アダムス、レナード・ニモイ、ジェフ・ゴールドブラム、ヴェロニカ・カートライト、ドン・シーゲル
      .desc
        p ある日から、家族や友人、知人が別人のようになってしまった。周囲にその不安を訴えても失笑されて相手にされない。実は外宇宙からの侵略が静かに密かに始まっていたのだった。主人公の衛生局調査員ドナルド・サザーランドは周囲から孤立しながらも必死で戦いを始める。ドン・シーゲルによる1956年製作のオリジナル版は小さな田舎町を舞台に侵略の恐怖を描いていたが、このリメイク版は大都市が舞台になり、現代神経症的な恐怖が描かれ怖い。豪華出演陣の中、ドン・シーゲルがタクシー・ドライバー役で登場。
    .film#talk
      h2
        .ja 映画の生体解剖×コワすぎ！
      .pure-u-1-3
        .capture
      .pure-u-1-3
        .capture
          img(src='./images/takahashiyo.jpg')
      .pure-u-1-3
        .capture
          img(src='./images/shiraishi.jpeg')
      .pure-u-1-3
        .info
          p 稲生平太郎（横山茂雄）
          p 1954年大阪生まれ。作家。著書に幻想小説『アクアリウムの夜』および『アムネジア』、UFO、オカルト論『定本　何かが空を飛んでいる』、高橋洋との対談集『映画の生体解剖』など。横山名義の著書としては『聖別された肉体』、『異形のテクスト』、『神の聖なる天使たち』（近刊）など。
      .pure-u-1-3
        .info
          p 高橋洋
          p 1959年生まれ。森崎東監督のテレビ作品『離婚･恐婚･連婚』で90年に脚本家デビュー。中田秀夫監督『女優霊』（95）『リング』(98)でJホラー・ブームを引き起こす。他の脚本作品に北川篤也監督『インフェルノ蹂躙』(97)、黒沢清監督『復讐 運命の訪問者』(96)『蛇の道』(98)、佐々木浩久監督『発狂する唇』(99)『血を吸う宇宙』(01)、鶴田法男監督『おろち』(08)など。04年、監督作『ソドムの市』が公開。以後『狂気の海』(07)『恐怖』(09)『旧支配者のキャロル』(12 映画芸術ベストテン4位)と監督作が続く。著書に｢映画の魔｣(青土社)、稲生平太郎との共著「映画の生体解剖-恐怖と恍惚のシネマガイド」（洋泉社）がある。
      .pure-u-1-3
        .info
          p 白石晃士
          p 1973年福岡生まれ。映画監督。ホラー映画を多く手がけ、フェイクドキュメンタリーの手法を得意とする。主な作品に『ノロイ』(05)『口裂け女』(07)『オカルト』(09)『グロテスク』(09)『超・悪人』(11)『カルト』(13)『ある優しき殺人者の記録』(14)など。2012年からのOV『戦慄怪奇ファイル コワすぎ！』は劇場版も公開され現在９本まで製作される人気シリーズとなっている。
