body
  background-color #255B69

@media screen and (min-width: 790px)
  .wrapper
    width 790px

  .film
    width 80%

  .banner
    height 300px

@media screen and (max-width: 414px)
  .wrapper
    width 414px

  .film
    width 100%

  .banner
    height 280px

@media screen and (max-width: 375px)
  .wrapper
    width 375px

  .film
    width 100%

  .banner
    height 250px

@media screen and (max-width: 320px)
  .wrapper
    width 320px

  .film
    width 100%

  .banner
    height 200px

.wrapper
  margin 0 auto

header
  background-color #fff

  .links
    text-align right

    a
      margin 10px
      font-size 12px
      color #009900
      text-decoration none

      &:hover
        background-color #00C9FF

#maintitle
  height 200px
  background-color #fff

  p
    margin 0
    padding 0

#mainmenu
  height 40px
  background-color #AA1E1E

.dottedAnchor
  text-decoration none
  border-bottom 1px dotted #aaa
  color #781A53

  &:hover
    color #FF1787
    border-bottom 0

.center
  text-align center

footer
  p
    color #aaa
    text-align center
    font-size 12px
    margin 0
    padding 0

#toppage, #accessPage, #bakuonPage, #ticketPage, #schedulePage, #detailPage
  background-color #eee

  h1
    margin 0
    padding 5px
    padding-left 3%
    background-color #F29237
    color #fff
    font-size 24px

  ul
    padding 0
    margin 0
    list-style none

#toppage
  #main
    .max
      width 100%
    .center
      text-align center

  #credits
    margin 10px

    p
      margin 0
      padding 0
      font-size 11px

#accessPage, #ticketPage, #schedulePage
  p
    margin 0
    padding 0

  img
    width 100%

  table
    margin 0 auto
    margin-top 20px
    margin-bottom 20px

    thead
      td
        background-color #ddd

    td
      text-align center

  .content
    padding 5px
    margin-bottom 40px

  .links
    background-color #6FF6B2
    padding 10px
    width 80%
    margin 0 auto
    margin-top 10px

  .notice
    font-size 12px
    color #333

#ticketPage
  table
    width 60%

#schedulePage
  padding-bottom 40px

  table
    width 100%
    table-layout fixed

    td
      padding 5px
      background-color #fff

#bakuonPage
  img
    margin-top 20px

  .center
    text-align center

  .content
    width 70%
    margin 0 auto
    font-size 14px
    color #C00
    line-height 22px
    letter-spacing 3px
    padding-bottom 20px



#detailPage
  padding-bottom 20px

  .banner
    background-size cover

  .film
    background-color #fff
    margin 0 auto
    margin-bottom 20px

    .capture
      img
        width 100%

    h2
      border-left 8px solid #F29237
      background-color #fff
      padding-left 2px
      margin-bottom 0

    .en, .ja
      display inline

    .en
      margin-left 3%
      font-size 14px

    .info, .desc
      margin 5px

    .info
      p
        margin 0
        padding 0
        font-size 12px
        color #333
