extends layouts/master

block title
  title カナザワ映画祭2015｜かなざわ映画の会

block body
  #toppage
    #main.pure-u-1-1
      img.max(src='./images/mainvisual.jpg')
    h1 プログラム
    .pure-g
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./countryhorror.html')
            img(src='./images/countryhorror.jpg')
            | 田舎ホラー大全科
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./faraway.html')
            img(src='./images/faraway.jpg')
            | 彼方より......
      .pure-u-1-2
        .topbanner
          a.dottedAnchor(href='./mel.html')
            img(src='./images/mel.jpg')
            | 爆音メル・ギブソン
      .pure-u-1-2
        .topbanner
          a.dottedAnchor(href='./carpenter.html')
            img(src='./images/carpenter.jpg')
            | 爆音カーペンター
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./kingkong.html')
            img(src='./images/kingkong.jpg')
            | キングコング野外上映
    .pure-u-1-1
      p.center
        a(href='./bakuon.html')
          img(src='./images/bakuon.png')
    .pure-u-1-1
      #credits
        p ■主催: かなざわ映画の会
        p ■...
