extends layouts/master

block title
  title カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/mainvisual.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #toppage
    a(href='#')
      #modal
        img(src='./images/mainvisual.png')
    #main.pure-u-1-1
      .pure-u-sm-3-4.mainContainer
        a(href='#modal')
          img.max(src='./images/mainvisual.png')
        p.visualCredit メインビジュアル「水没した映画館」：逆柱いみり
        p.center
          a(href='./bakuon.html')
            img(src='./images/bakuon.png')
        p.center
          iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.eiganokai.com%2Fevent%2Ffilmfes2015%2Findex.html&width=200&layout=button_count&action=like&show_faces=false&share=true&height=21', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:160px; height:21px;', allowtransparency='true')
          a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.eiganokai.com/event/filmfes2015/', data-text='「カナザワ映画祭2015」2015年9月19日（土）〜23日（水・祝）会場：金沢都ホテル・セミナーホール（旧金沢ロキシー劇場）', data-via='eiganokai', data-lang='ja', data-hashtags='カナザワ映画祭2015') &#x30C4;&#x30A4;&#x30FC;&#x30C8;
          script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    .pure-u-1-1.pure-u-sm-1-2
      h1 プログラム
      .topbanner
        a.dottedAnchor(href='./kingkong.html')
          img(src='./images/kingkong.png')
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./countryhorror.html')
            img(src='./images/countryhorror.png')
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./kokou.html')
            img(src='./images/kokou.png')
    .pure-u-1-1.pure-u-sm-1-2
      .pure-u-1-2.pure-u-sm-1-1
        .topbanner
          a.dottedAnchor(href='./mel.html')
            img(src='./images/mel.png')
      .pure-u-1-2.pure-u-sm-1-1
        .topbanner
          a.dottedAnchor(href='./carpenter.html')
            img(src='./images/carpenter.png')
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./beyond.html')
            img(src='./images/beyond.png')
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./zero.html')
            img(src='./images/zero.png')
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='/about/supporter.html')
          p
            span カナザワ映画祭2015
          p
            span サポーター募集中！
    .pure-u-1-1
      .bookfair.pure-u-sm-3-4
        h2
          | カナザワ映画祭2015古本市
          .by by オヨヨ書林
        .pure-u-1-1.pure-u-sm-1-4
          img(src='./images/books.png')
        .pure-u-1-1.pure-u-sm-7-12
          p(style='font-size: 12px;') 映画祭会場前にオヨヨ書林の古本販売コーナーが登場。映画パンフレット100円均一コーナーをはじめ、映画・音楽・芸能一般・サブカルチャー・雑誌パンフレットなどを中心に販売いたします！！掘り出し物もありますよ。
          .date
            p 日時: 9.19(土)-23(祝) 10:00-19:00
            p 場所: 金沢都ホテル セミナーホール前
        .pure-u-1-1.pure-u-sm-1-6(style='background-color: #fff;')
          img(src='./images/oyoyo.png')
    .pure-u-1-1
      #credits
        p ■主催: かなざわ映画の会
        p ■特別協力: 金沢都ホテル
        p ■協力: 金沢フィルムコミッション、シネモンド、東京国立近代美術館フィルムセンター、横安江町商店街振興組合
        p ■音響協力: 樋口泰人(boid)
        p ■映写音響装置: モノリス
        p ■映画祭ロゴ/ポスターデザイン: 檜垣紀六
        p ■メインビジュアル: 逆柱いみり
        p ■サイトデザイン: 小林貴也
          | (
          a.dottedAnchor(href='http://jgs.me') http://jgs.me
          | )
        p ■作品提供: hollywood classics、park circus limited、eros entertainment、中影、松竹
        p ■字幕制作: 伊藤めぐみ、大泉歩由、郭美姫、北林愛、小林貴也、坂元圭、柴山結実、田中聖子、平澤真未、深田雅弘(ヒンディー語監修)、宮原理栄
        p ■後援: 石川県興行生活衛生同業組合、北國新聞社
        p ■助成: 芸術文化振興基金、金沢市
        p ■協賛(50音順): 岩本清商店、everyday records、欧風食堂 ル マルス、オヨヨ書林シンタテマチ店、オヨヨ書林せせらぎ通り店、Curio Espresso and Vintage Design、collabon、四位例内科クリニック、JO-HOUSE、旬菜焼はざま、shirasagi/白鷺美術、SKANDA、スペイン料理アロス、田中昭文堂印刷株式会社、野澤(美容院)、バーゴールデンフィッシュ、ひがし山とみ 、ひげの店、ビストロユイガ、ひらみぱん、葡萄夜、magnolia KZ、memento、株式会社ルバンシュ
        p ■かなざわ映画の会サポーター2015(入会順): 田中清一、ら〜ふぇ〜☆ぼ〜いず、古泉智浩、赤目長耳、SPEX DOCUMENTARY、きょうへい、カセット館後藤、ビター・ダカラン、石塚紘司、覚本直政、ルシフ&ヨシノ、ここあ、コーノリョー、井毛丹丈、栗原智章、OREN ISHI、KKJ、gogomatilda、かめもと、真睦&馳純、a.piedi.nudi、松本CINEMAセレクト宮崎、いしいたくろう、沢木麻、Xaka、サトウトシオ、田辺望、並河洸、並河ちひろ、かっちゃん、渡部高範、haaaaaz、遊馬、高橋ナオヤ、長坂弘介、ヴエダコウシ、どどすけ、天引満、ミスターブー、イチロー、堺祐一、ぴのきお、小山智巳、今村健一、岡田明紀、（他26名）
