body
  background-color #255B69

.wrapper
  margin 0 auto

header
  background-color #fff

  .logo
    text-align center
    line-height 0

  .links
    text-align center

    a
      margin 4px
      font-size 10px
      color #009900
      text-decoration none

      &:hover
        background-color #00C9FF

#maintitle
  line-height 0
  background-color #000

  img
    width 100%

#mainmenu
  background-color #AA1E1E
  font-family 'Black Ops One', cursive
  text-align center

  .mainmenu-item
    border 1px solid #fff

  .pure-menu-link
    padding .3em

  .pure-menu-link:hover
    background-color #AA1E1E

  a, .pure-menu-link
    text-decoration none
    color #fff
    font-size 22px

  .pure-menu-children
    background-color #6B1313
    text-align left
    padding .3em 1em

    .pure-menu-item
      margin-bottom .3em

    a
      border-bottom 2px dotted #fff

.dottedAnchor
  text-decoration none
  border-bottom 1px dotted #aaa
  color #781A53

  &:hover
    color #FF1787
    border-bottom 0

.center
  text-align center

footer
  p
    color #aaa
    text-align center
    font-size 12px
    margin 0
    padding 0

#toppage, #accessPage, #bakuonPage, #ticketPage, #schedulePage, #detailPage
  background-color #eee

  h1
    margin 0
    padding 5px
    padding-left 3%
    background-color #F29237
    color #fff
    font-size 24px

  ul
    padding 0
    margin 0
    list-style none

#toppage
  #main
    .max
      width 100%
    .center
      text-align center

  .visualCredit
    text-align center
    padding 0
    margin 0
    font-size 11px
    color #333

  .topbanner
    padding 3px
    margin 3px
    border 1px solid #999
    text-align center

    img
      width 100%

  .supporter
    margin 0 auto
    text-align center
    background-color #AA1E1E
    padding .5em
    border 2px solid #eee

    a
      font-size 26px
      color #fff
      text-decoration none

      p
        margin 0
        padding 0

        span
          border-bottom 2px dotted #fff

  #credits
    margin 10px

    p
      margin 0
      padding 0
      font-size 11px
      color #333

#accessPage, #ticketPage, #schedulePage
  p
    margin 0
    padding 0

  img
    width 100%

  table
    margin 0 auto
    margin-top 20px
    margin-bottom 20px

    thead
      td
        background-color #ddd

    td
      text-align center

  .content
    padding 5px
    margin-bottom 40px

  .links
    background-color #6FF6B2
    padding 10px
    width 80%
    margin 0 auto
    margin-top 10px

  .notice
    font-size 12px
    color #333

#accessPage
  .map
    text-align center

  .storename
    font-size 14px
  .storedesc
    font-size 11px
    margin-bottom 10px

#schedulePage
  padding-bottom 40px

  table
    width 100%
    table-layout fixed

    td
      padding 5px
      background-color #fff

      .title
        font-size 16px

      .time
        font-size 12px
        color #333

#bakuonPage
  img
    margin-top 20px
    width 100%

  .center
    text-align center

  .content
    width 70%
    margin 0 auto
    font-size 14px
    color #C00
    line-height 22px
    letter-spacing 3px
    padding-bottom 20px

#detailPage
  padding-bottom 20px

  .intro
    margin 0 auto

  .banner
    img
      width 100%

    p
      text-align center
      padding 0
      margin 0
      font-size 11px
      color #333

  .aori
    background-color #6FF6B2
    padding 10px
    width 80%
    margin 0 auto
    margin-top 10px
    font-size 18px

  .film
    background-color #fff
    margin 0 auto
    margin-bottom 20px
    padding-bottom 5px

    .capture
      img
        width 100%

    h2
      border-left 8px solid #F29237
      background-color #fff
      padding-left 2px
      margin-bottom 0
      line-height 28px
      padding-top 3px

    .en, .ja
      display inline

    .en
      margin-left 3%
      font-size 14px

    .info, .desc
      margin 5px

    .info
      p
        margin 0
        padding 0
        font-size 12px
        color #333

@media screen and (min-width: 790px)
  .wrapper
    width 790px

  .film
    width 80%

  .intro
    width 90%

  .supporter
    p
      display inline

@media screen and (min-width: 630px)
  .pure-u-sm-1-2
    width 50%
    *width 49.9690%

  .pure-u-sm-1-4
    width 25%
    *width 24.9690%

  .pure-u-sm-3-4
    width 75%
    *width 74.9690%

  .pure-u-sm-1-1
    width 100%

  header
    .logo
      text-align left
      img
        margin-left 5px

    .links
      text-align right

      a
        margin 10px
        font-size 12px

  #toppage
    h1
      display none

    .mainContainer
      margin 0 auto

@media screen and (max-width: 414px)
  .wrapper
    width 414px

  .film
    width 100%

  .intro
    width 100%

@media screen and (max-width: 375px)
  .wrapper
    width 375px

  .film
    width 100%

  .intro
    width 100%

@media screen and (max-width: 320px)
  .wrapper
    width 320px

  .film
    width 100%

  .intro
    width 100%
