extends layouts/master

block title
  title カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/mainvisual.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #toppage
    a(href='#')
      #modal
        img(src='./images/mainvisual.png')
    #main.pure-u-1-1
      .pure-u-sm-3-4.mainContainer
        a(href='#modal')
          img.max(src='./images/mainvisual.png')
        p.visualCredit メインビジュアル「水没した映画館」：逆柱いみり
        p.center
          a(href='./bakuon.html')
            img(src='./images/bakuon.png')
        p.center
          iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.eiganokai.com%2Fevent%2Ffilmfes2015%2Findex.html&width=200&layout=button_count&action=like&show_faces=false&share=true&height=21', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:160px; height:21px;', allowtransparency='true')
          a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.eiganokai.com/event/filmfes2015/', data-text='「カナザワ映画祭2015」2015年9月19日（土）〜23日（水・祝）会場：金沢都ホテル・セミナーホール（旧金沢ロキシー劇場）', data-via='eiganokai', data-lang='ja', data-hashtags='カナザワ映画祭2015') &#x30C4;&#x30A4;&#x30FC;&#x30C8;
          script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    .pure-u-1-1.pure-u-sm-1-2
      h1 プログラム
      .topbanner
        a.dottedAnchor(href='./kingkong.html')
          img(src='./images/kingkong.png')
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./countryhorror.html')
            img(src='./images/countryhorror.png')
    .pure-u-1-1.pure-u-sm-1-2
      .pure-u-1-2.pure-u-sm-1-1
        .topbanner
          a.dottedAnchor(href='./mel.html')
            img(src='./images/mel.png')
      .pure-u-1-2.pure-u-sm-1-1
        .topbanner
          a.dottedAnchor(href='./carpenter.html')
            img(src='./images/carpenter.png')
    .pure-u-1-1
      .topbanner
        a.dottedAnchor(href='./beyond.html')
          img(src='./images/beyond.png')
    .pure-u-1-1.pure-u-sm-1-2
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./kokou.html')
            img(src='./images/kokou.png')
    .pure-u-1-1.pure-u-sm-1-2
      .pure-u-1-1
        .topbanner
          a.dottedAnchor(href='./zero.html')
            img(src='./images/zero.png')
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='/about/supporter.html')
          p
            span カナザワ映画祭2015
          p
            span サポーター募集中！
    .pure-u-1-1
      .bookfair.pure-u-sm-3-4
        h2
          | カナザワ映画祭2015古本市
          .by by オヨヨ書林
        .pure-u-1-1.pure-u-sm-1-4
          img(src='./images/books.png')
        .pure-u-1-1.pure-u-sm-5-8
          p(style='font-size: 12px;') 映画祭会場前にオヨヨ書林の古本販売コーナーが登場。映画パンフレット100円均一コーナーをはじめ、映画・音楽・芸能一般・サブカルチャー・雑誌パンフレットなどを中心に販売いたします！！掘り出し物もありますよ。
          .date
            p 日時: 9.19(土)-23(祝) 10:00-19:00
            p 場所: 金沢都ホテル セミナーホール前
        .pure-u-1-1.pure-u-sm-1-8(style='background-color: #fff;')
          img(src='./images/oyoyo.png')
    .pure-u-1-1
      #credits
        p ■主催: かなざわ映画の会
        p
          | ■特別協力: 
          a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/') 金沢都ホテル
        p
          | ■協力: 
          a.dottedAnchor(href='http://www.kanazawa-cb.com/kfc/') 金沢フィルムコミッション
          | 、
          a.dottedAnchor(href='http://www.cine-monde.com/index.html') シネモンド
          | 、
          a.dottedAnchor(href='http://www.momat.go.jp/fc/') 東京国立近代美術館フィルムセンター
          | 、
          a.dottedAnchor(href='http://www.shop-kanazawa.jp/mall.php?mll=5') 横安江町商店街振興組合
        p
          | ■音響協力: 
          a.dottedAnchor(href='http://www.boid-s.com/') 樋口泰人(boid)
        p
          | ■映写音響装置: 
          a.dottedAnchor(href='http://www.monolith2001.com/') モノリス
        p ■映画祭ロゴ/ポスターデザイン: 檜垣紀六
        p
          | ■メインビジュアル: 
          a.dottedAnchor(href='http://d.hatena.ne.jp/nkpmkp/') 逆柱いみり
        p ■サイトデザイン: 小林貴也
          | (
          a.dottedAnchor(href='http://jgs.me') http://jgs.me
          | )
        p
          | ■作品提供: 
          a.dottedAnchor(href='http://hollywoodclassics.com/') hollywood classics
          | 、
          a.dottedAnchor(href='http://www.parkcircus.com/') park circus limited
          | 、eros entertainment、中影、
          a.dottedAnchor(href='http://www.shochiku.co.jp/') 松竹
        p ■字幕制作: 伊藤めぐみ、大泉歩由、郭美姫、北林愛、小林貴也、坂元圭、柴山結実、田中聖子、平澤真未、宮原理栄
        p
          | ■後援: 石川県興行生活衛生同業組合、
          a.dottedAnchor(href='http://www.hokkoku.co.jp/') 北國新聞社
          | 、エフエム石川
        p
          | ■助成: 
          a.dottedAnchor(href='http://www.ntj.jac.go.jp/kikin/') 芸術文化振興基金
          | 、
          a.dottedAnchor(href='http://www4.city.kanazawa.lg.jp/index.jsp') 金沢市
        p
          | ■協賛(50音順): 
          a.dottedAnchor(href='http://www.kirikougei.com/') 岩本清商店
          | 、
          a.dottedAnchor(href='http://everyday-rec.ocnk.net') everyday records
          | 、
          a.dottedAnchor(href='http://mars2005.blog81.fc2.com/') 欧風食堂 ル マルス
          | 、
          a.dottedAnchor(href='http://www.oyoyoshorin.jp/') オヨヨ書林シンタテマチ店
          | 、
          a.dottedAnchor(href='http://www.oyoyoshorin.jp/') オヨヨ書林せせらぎ通り店
          | 、Curio Espresso and Vintage Design、
          a.dottedAnchor(href='http://www.collabon.com/') collabon
          | 、
          a.dottedAnchor(href='http://www.yayoi-kanazawa.com/shiire/recruitment.html') 四位例内科クリニック
          | 、
          a.dottedAnchor(href='http://www.jo-house.com/') JO-HOUSE
          | 、旬菜焼はざま、
          a.dottedAnchor(href='http://www.shirasagi-art.net/') shirasagi/白鷺美術
          | 、
          a.dottedAnchor(href='http://www.skanda-sffs.com/') SKANDA
          | 、スペイン料理アロス、
          a.dottedAnchor(href='http://www.kagasaisei.co.jp/') 田中昭文堂印刷株式会社
          | 、野澤(美容院)、バーゴールデンフィッシュ、
          a.dottedAnchor(href='http://www.marugotokanazawa.com/geiko/yamatomi/') ひがし山とみ
          | 、ひげの店、ビストロユイガ、
          a.dottedAnchor(href='http://www.hiramipan.com/') ひらみぱん
          | 、葡萄夜、
          a.dottedAnchor(href='http://magnolia-kz.com/') magnolia KZ
          | 、memento、
          a.dottedAnchor(href='http://www.revanche.jp/') 株式会社ルバンシュ
        p ■かなざわ映画の会サポーター2015(入会順): 田中清一、ら〜ふぇ〜☆ぼ〜いず、古泉智浩、赤目長耳、SPEX DOCUMENTARY、きょうへい、カセット館後藤、ビター・ダカラン、石塚紘司、覚本直政、ルシフ&ヨシノ、ここあ、コーノリョー、井毛丹丈、栗原智章、OREN ISHI、KKJ、gogomatilda、かめもと、真睦&馳純、a.piedi.nudi、松本CINEMAセレクト宮崎、いしいたくろう、沢木麻、Xaka、サトウトシオ、田辺望、並河洸、並河ちひろ、かっちゃん、渡部高範、haaaaaz、遊馬、高橋ナオヤ、長坂弘介、ヴエダコウシ、どどすけ、天引満、ミスターブー、イチロー、堺祐一、ぴのきお、小山智巳、今村健一、岡田明紀、久保田晃治、mannellzee、銀玉の狼、猫町倶楽部シネマテーブル、たまやん、V-ZONE～廃盤、絶版ビデオ祭り～、さだぼんずＲＯＣＫ　ＹＯＵ！！、切腹五郎（他40名）
