extends layouts/master

block body
  #toppage
    .pure-u-1-5
      span side 1
    #main.pure-u-3-5
      img.max(src='./images/mainvisual.jpg')
      p.center
        a(href='./bakuon.html')
          img(src='./images/bakuon.png')
    .pure-u-1-5
      span side 2
    .pure-u-1-1
      #credits
        p ■主催: かなざわ映画の会
        p ■...
