extends layouts/master

block title
  title キングコング野外上映 - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='キングコング野外上映 - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/kingkong.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/kingkong.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #detailPage
    h1 キングコング野外上映
    .banner
      img(src='./images/kingkong.png')
    .aori
      p 子供から大人まで楽しめる永遠の怪獣映画の名作！
    .film
      h2
        .ja キング・コング
        .en King Kong
      .capture
        img(src='./images/kingkong2.png')
      .info
        p 1933年／アメリカ／100min／スタンダード／英語・日本語字幕
        p 監督・脚本：メリアン・Ｃ・クーパー、アーネスト・Ｂ・シュードサック
        p 音楽：マックス・スタイナー
        p 特撮：ウィリス・Ｈ・オブライエン
        p 出演：フェイ・レイ、ロバート・アームストロング、ブルース・キャボット
      .desc
        p 一攫千金を狙うN.Y.の興行師一行が南海の孤島「髑髏島」に棲んでいる伝説の怪獣キング・コングを捕まえ、見世物にしようと企む。だが、キング・コングは逃げ出して都会を蹂躙するのだった。映画が最もワイルドだった時代の1930年代に製作された怪獣映画の始祖であり、永遠の名作映画。その後のあらゆる文化に与えた影響を考えれば、もはや神話と呼べる作品だ。難しいことを考えなくても、暴れまわるキング・コングや美しいフェイ・レイ、髑髏島に棲んでいるたくさんの恐竜たち、怪生物たちを眺めているだけで楽しめる大娯楽映画である
        p 9/19(土) 19:30〜 横安江商店街にて(
          a.dottedAnchor(href='./images/map.png') 地図
          | )
        p 詳しくは
          a.dottedAnchor(href='./schedule.html') スケジュール
          | をご覧ください
      .capture
        a.dottedAnchor(href='http://yokoccho.collabon.com/')
          img(src='./images/shotengai.png')
