extends layouts/master

block title
  title 孤高の遠吠プレミア上映 - カナザワ映画祭2015｜かなざわ映画の会

block body
  #detailPage
    h1 孤高の遠吠プレミア上映
    .banner(style="background-image: url('./images/kokou2.png');")
    .film
      h2
        .ja 孤高の遠吠
      .capture
        img(src='./images/kokou3.png')
      .desc
          p 富士宮で起きた事件の数々をベースにした大問題作。ユヅキ、カミオ、リョータ、ショーヤの４人はナカニシ先輩とマキヨシ先輩から原チャリを買ったことにより、不良の世界に入ってしまう。言葉の通じない超暴力主義先輩軍団。原チャリを襲うことしか頭にない原チャリハンター。暴走族。合計前科１００犯超の窃盗団。拉致、リンチ、監禁、拷問、抗争、復讐、反逆。喧嘩の名産地富士宮に逃げ場など皆無。次々と襲い来る敵、狂気、凶器、どうなる最弱後輩軍団！たった１人になったとしても………勝つまで吠えろ！
