extends layouts/master

block title
  title 孤高の遠吠プレミア上映 - カナザワ映画祭2015｜かなざわ映画の会

block body
  #detailPage
    h1 孤高の遠吠プレミア上映
    .banner(style="background-image: url('./images/kokou2.png');")
    .film
      h2
        .ja 孤高の遠吠
      .capture
        img(src='./images/kokou3.png')
      .desc
          p 富士宮で起きた事件の数々をベースにした大問題作。ユヅキ、カミオ、リョータ、ショーヤの４人はナカニシ先輩とマキヨシ先輩から原チャリを買ったことにより、不良の世界に入ってしまう。言葉の通じない超暴力主義先輩軍団。原チャリを襲うことしか頭にない原チャリハンター。暴走族。合計前科１００犯超の窃盗団。拉致、リンチ、監禁、拷問、抗争、復讐、反逆。喧嘩の名産地富士宮に逃げ場など皆無。次々と襲い来る敵、狂気、凶器、どうなる最弱後輩軍団！たった１人になったとしても………勝つまで吠えろ！
    .film
      h2
        .ja 小林勇貴×鈴木智彦 トーク
      .pure-u-1-2
        .capture
          img(src='./images/kobayashi.png')
      .pure-u-1-2
        .capture
          img(src='./images/suzuki.png')
      .pure-u-1-2
        .info
          p 小林勇貴
          p 東京在住　静岡県富士宮市出身　24歳。2013年から映画撮影を始める。同年、友人が不良に拉致・リンチされた事件を元に『Super Tandem』を撮影。そこから『実話ベース物語に本物の不良を出演させる映画』を撮り始める。2014年に某映画学校に入学するも初日にゲリラ撮影禁止令を受け発狂し不登校に。2015年、総勢46名（内20名逮捕）の不良と共に新作『孤高の遠吠』を完成させた。
      .pure-u-1-2
        .info
          p 鈴木智彦
          p 北海道生まれ。日本大学芸術学部写真学科除籍。雑誌、広告のカメラマンとしてアメリカ、ヨーロッパを中心に撮影を行うが、ロサンゼルスで作家、安部譲二の舎弟と知り合い、ヤクザに興味を持つ。撮影中、ギャングに襲われ帰国。入院中に暴力を取材テーマにしたいと考え、ヤクザ専門誌「実話時代」編集部に入社「実話時代 BULL」編集長を務めた後、フリーに。以降、週刊誌から「 別冊宝島」に至るまで幅広くヤクザ関連の記事を寄稿しながら、東日本大震災後の福島第一原発や、漁業における密猟の実態を体当たりで取材している。
    .film
      h2
        .ja 小林勇貴×工藤明男 トーク
      .pure-u-1-2
        .capture
          img(src='./images/kobayashi.png')
      .pure-u-1-2
        .capture
          img(src='./images/kudou.png')
      .pure-u-1-2
        .info
          p 小林勇貴
          p 東京在住　静岡県富士宮市出身　24歳。2013年から映画撮影を始める。同年、友人が不良に拉致・リンチされた事件を元に『Super Tandem』を撮影。そこから『実話ベース物語に本物の不良を出演させる映画』を撮り始める。2014年に某映画学校に入学するも初日にゲリラ撮影禁止令を受け発狂し不登校に。2015年、総勢46名（内20名逮捕）の不良と共に新作『孤高の遠吠』を完成させた。
      .pure-u-1-2
        .info
          p 工藤明男
          p 東京都生まれ。杉並区出身の元関東連合リーダー。IT・芸能の分野で活躍。経済界から政界に至るまで幅広い人脈を持ち、複数の企業の筆頭株主として投資と企業コンサルタントの仕事を主としてきた。関東連合の資金源と目されてきたが、処女作「いびつな絆 関東連合の真実」(2013年7月、2014年1月に宝島SUGOI文庫所収)刊行直後から、暴力団員による不当な行為の防止等に関する法律(暴対法)における保護措置により保護対象者に。2015年現在は関東連合と決別し、作家として執筆活動を続けている。「工藤明男」は筆名。
