extends layouts/master

block title
  title 爆音メル・ギブソン - カナザワ映画祭2015｜かなざわ映画の会

block body
  #detailPage
    h1 爆音メル・ギブソン
    .banner(style="background-image: url('./images/mel.jpg');")
    .film
      h2
        .ja マッドマックス
        .en Mad Max
      .capture
        img(src='./images/madmax.jpg')
      .info
        p 1979年／オーストラリア／94min／シネスコ／英語・日本語字幕
        p 製作：バイロン・ケネディ
        p 監督・脚本：ジョージ・ミラー
        p 脚本：ジェームズ・マッカウスランド
        p 音楽：ブライアン・メイ
        p 撮影：デヴィッド・エグビー
        p 出演：メル・ギブソン、ジョアンヌ・サミュエル、スティーヴ・ビズレー、ヒュー・キース＝バーン、ティム・バーンズ
      .desc
        p 今から数年後の近未来…。オーストラリアの田舎でハイウェイ・パトロールを務める警官マックス・ロカタンスキーは狂暴な暴走族に同僚と家族を殺される。警官としてではなく、一人の男として復讐を開始する。今年上映された最新作も記憶に新しい『マッドマックス』シリーズの伝説の第一作であり、メル・ギブソンの主演デビュー作。V8スーパーチャージャーの爆音を元祖爆音上映で聞け。『マッドマックス 怒りのデス・ロード』で悪役イモータン・ジョーを演じたヒュー・キース＝バーンは本作でも悪役トーカッターを演じている。
    .film
      h2
        .ja アポカリプト
        .en Apocalypto
      .capture
        img(src='./images/apocalypto.jpg')
      .info
        p 2006年／アメリカ／138min／ビスタ／マヤ語・日本語字幕
        p 監督・脚本：メル・ギブソン
        p 脚本：ファラド・サフィニア
        p 音楽：ジェームズ・ホーナー
        p 撮影：ディーン・セムラー
        p 出演：ルディ・ヤングブラッド、ダリア・エルナンデス、ジョナサン・ブリューワー、ラオール・トゥルヒージョ
      .desc
        p マヤ帝国の奴隷狩り部隊に村を襲われ拐われた主人公が、故郷の村に帰るため脱出する。人権の存在しない野蛮な世界を主人公がとにかく走る。監督メル・ギブソンは全編マヤ語のセリフで話される本作を無声映画的手法で完成させ、非凡な才能を見せた。ダイナミックなアクションシーンのみならず、黙示録的なシュール・リアリズムのシーンでもマヤ文明の滅亡を不気味に暗示させ、高い完成度を誇る本作を爆音上映で蘇らせる。
    .film
      h2
        .ja パッション 決定版
        .en The Passion of The Christ : Definitive Edition
      .capture
        img(src='./images/passion.jpg')
      .info
        p 2004年／アメリカ、イタリア／127min／シネスコ／アラム語、ラテン語、ヘブライ語・日本語字幕
        p 監督・脚本：メル・ギブソン
        p 脚本：ベネディクト・フィッツジェラルド
        p 音楽：ジョン・デブニー
        p 撮影：キャレブ・デシャネル
        p 出演：ジム・カヴィーゼル、マヤ・モルゲンステルン、モニカ・ベルッチ、ロザリンダ・チェレンターノ
      .desc
        p 弟子に裏切られ、投獄、拷問、処刑されるキリストの受難を徹底したリアリズムでメル・ギブソンが執念の映画化。セリフも全編にわたって当時の言語であるアラム語、ラテン語、ヘブライ語で話されるほどの凝りよう。残虐極まりなく執拗な拷問処刑シーンのリアルさには思わず目を背けてしまう。この一線を突き抜けた作品の爆音上映には信心者も不信心者もひれ伏すだろう。
