extends layouts/master

block body
  #schedulePage
    h1 スケジュール
    .links
      p
        | 会場: 
        a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html') 金沢都ホテル セミナーホール（旧ロキシー劇場）
        span 石川県金沢市此花町6-10 B2F
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/19(土)
          td 9/20(日)
          td 9/21(月・祝)
      tbody
        tr
          td
            p 10:00
            p 人類創世
            p (100min)
          td
            p 10:00
            p ゼロ歳からの映画館
          td
            p 10:00
            p マッドマックス
            p (95min)
        tr
          td
            p 12:00
            p スパイダーベイビー
            p (100min)
          td
            p 11:50
            p ブラック・エース
            p (88min)
          td
            p 12:10
            p アポカリプト
            p (138min)
        tr
          td
            p 13:30
            p 山の一家
            p (90min)
          td
            p 13:30
            p 脱出
            p (110min)
          td
            p 14:50
            p 宇多丸×高橋ヨシキ トーク
        tr
          td
            p 15:00
            p 悪魔のいけにえ
            p (83min)
          td
            p 15:30
            p 平山夢明×牧野修 トーク
          td
            p 16:30
            p 孤高の遠吠
            p (120min)
        tr
          td
            p 16:30
            p 要塞警察
            p (91min)
          td
            p 17:15
            p 無人区
            p (120min)
          td
            p 小林勇貴×鈴木智彦 トーク
        tr
          td
            p 19:30
            p キングコング
            p (91min)
          td
            p 20:00
            p 印度国道10号線
            p (115min)
          td
            p 20:00
            p パッション
            p (126min)
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/22(火・祝)
          td 9/23(水・祝)
      tbody
        tr
          td
            p 10:00
            p ミディアン 完全版
            p (120min)
          td
            p 10:00
            p 空の大怪獣Q
            p (92min)
        tr
          td
            p 12:15
            p マウス・オブ・マッドネス
            p (95min)
          td
            p 11:50
            p 神が殺せと云った
            p (91min)
        tr
          td
            p 14:10
            p ブロブ
            p (95min)
          td
            p 13:40
            p 稲生平太郎×高橋洋×白石晃士 トーク
        tr
          td
            p 16:00
            p 孤高の遠吠
            p (120min)
          td
            p 16:00
            p 怪談・クォーターマス教授と地獄の穴
            p (91min)
        tr
          td
            p 小林勇貴×鈴木智彦 トーク
          td
            p 18:00
            p SF/ボディ・スナッチャー
            p (115min)
        tr
          td
            p 19:40
            p 霧
            p (126min)
