extends layouts/master

block title
  title スケジュール - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='スケジュール - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/schedule.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/images/mainvisual.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #schedulePage
    h1 スケジュール
    .links
      p
        | 会場: 
        a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html') 金沢都ホテル セミナーホール（旧ロキシー劇場）
        span 石川県金沢市此花町6-10 B2F
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/19(土)
          td 9/20(日)
          td 9/21(月・祝)
      tbody
        tr
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./countryhorror.html#questforfire') 人類創世
            p.time (100min)
          td
            p 10:15
            p.title 
              a.dottedAnchor(href='./zero.html') ゼロ歳からの映画館
            p.time ※小学生以下無料
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./mel.html#madmax') マッドマックス
            p.time (93min)
        tr
          td
            p 12:00
            p.title
              a.dottedAnchor(href='./countryhorror.html#spiderbaby') スパイダーベイビー
            p.time (84min)
          td
            p 11:50
            p.title
              a.dottedAnchor(href='./countryhorror.html#primecut') ブラック・エース
            p.time (87min)
          td
            p 12:10
            p.title
              a.dottedAnchor(href='./mel.html#apocalypto') アポカリプト
            p.time (138min)
        tr
          td
            p 13:40
            p.title
              a.dottedAnchor(href='./countryhorror.html#justbeforedawn') 山の一家
            p.time (91min)
          td
            p 13:30
            p.title
              a.dottedAnchor(href='./countryhorror.html#deliverance') 脱出
            p.time (110min)
          td
            p 14:50
            p.title
              a.dottedAnchor(href='./mel.html#talk') 宇多丸×高橋ヨシキ トーク
        tr
          td
            p 15:30
            p.title
              a.dottedAnchor(href='./countryhorror.html#texaschainsawmassacre') 悪魔のいけにえ
            p.time (83min)
          td
            p 15:30
            p.title
              a.dottedAnchor(href='./countryhorror.html#talk') 平山夢明×牧野修 トーク
          td(rowspan='2')
            p 17:00
            p.title
              a.dottedAnchor(href='./kokou.html') 孤高の遠吠
            p.time (120min)
            p.title
              a.dottedAnchor(href='./kokou.html#talk1') 小林勇貴×鈴木智彦 トーク
            p.time (60min)
        tr
          td
            p 17:10
            p.title
              a.dottedAnchor(href='./carpenter.html#assaultonprecinct13') 要塞警察
            p.time (91min)
          td
            p 17:30
            p.title
              a.dottedAnchor(href='./countryhorror.html#mujinku') 無人区
            p.time (117min)
        tr
          td
            p 19:30
            p.title
              a.dottedAnchor(href='./kingkong.html') キングコング野外上映
            p.time (100min)
            p.time 横安江商店街にて
          td
            p 20:00
            p.title
              a.dottedAnchor(href='./countryhorror.html#NH-10') 印度国道10号線
            p.time (115min)
          td
            p 20:20
            p.title
              a.dottedAnchor(href='./mel.html#passion') パッション
            p.time (126min)
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/22(火・祝)
          td 9/23(水・祝)
      tbody
        tr
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./faraway.html#nightbreed') ミディアン 完全版
            p.time (120min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./faraway.html#Q') 空の大怪獣Q
            p.time (92min)
        tr
          td
            p 12:15
            p.title
              a.dottedAnchor(href='./carpenter.html#inthemouthofmadness') マウス・オブ・マッドネス
            p.time (95min)
          td
            p 11:50
            p.title
              a.dottedAnchor(href='./faraway.html#godtoldmeto') 神が殺せと云った
            p.time (90min)
        tr
          td
            p 14:10
            p.title
              a.dottedAnchor(href='./faraway.html#blob') ブロブ
            p.time (95min)
          td
            p 13:40
            p.title
              a.dottedAnchor(href='./faraway.html#talk') 稲生平太郎×高橋洋×白石晃士 トーク
        tr
          td(rowspan='2')
            p 16:00
            p.title
              a.dottedAnchor(href='./kokou.html') 孤高の遠吠
            p.time (120min)
            p
              a.dottedAnchor(href='./kokou.html#talk2') 小林勇貴×工藤明男 トーク
            p.time (60min)
          td
            p 16:00
            p.title
              a.dottedAnchor(href='./faraway.html#quatermassandthepit') 怪談・クォーターマス教授と地獄の穴
            p.time (97min)
        tr
          td
            p 18:00
            p.title
              a.dottedAnchor(href='./faraway.html#invasionofthebodysnatchers') SF/ボディ・スナッチャー
            p.time (115min)
        tr
          td(style='border-right: 1px solid #cbcbcb;')
            p 19:30
            p.title
              a.dottedAnchor(href='./faraway.html#mist') 霧
            p.time (126min)
