extends layouts/master

block title
  title ゼロ歳からの映画館 - カナザワ映画祭2015｜かなざわ映画の会

block ogps
  meta(property='og:title', content='ゼロ歳からの映画館 - カナザワ映画祭2015｜かなざわ映画の会')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2015/zero.html')
  meta(property='og:image', content='http://www.eiganokai.com/event/filmfes2015/zero.png')
  meta(property='og:description', content='カナザワ映画祭2015')
  meta(property='og:locale', content='ja_JP')

block body
  #detailPage
    h1 ゼロ歳からの映画館
    .banner(style="background-image: url('./images/zero.png');")
    .intro
      p この映画館では小さな子どもたちが主役だから、おしゃべりしても大丈夫。暗い場所が不安な子は、早めに来て明るい劇場を探検してみよう。
      p ＮＨＫ「おかあさんといっしょ」で演奏したメンバーもいるサイドウォーク・サロン・オーケストラによるミニ・ライブと無声映画の生伴奏つき上映、そして戦前の日本アニメーションを上映します。
    .film
      h2
        .ja おいらの野球
      .capture
        img(src='./images/oira.png')
      .info
        p 1930年／日本／10min／染色／ＤＶＤ
        p サイレント　監督：村田安司
      .desc
        p タヌキとウサギの野球試合。ウサギは長い耳を曲げて、回してサインを送る。タヌキは尻尾をバッドにしてホームラン！　ボールが森まで飛んでいき、勝敗の行方は？　緻密な技巧を駆使した切り絵アニメーションの頂点を極めた村田安司監督作。生伴奏つきで上映。
    .film
      h2
        .ja 國歌 君が代
      .capture
        img(src='./images/kimigayo.png')
      .info
        p 1931年／日本／3min／モノクロ／ＤＶＤ
        p 監督：大藤信郎
      .desc
        p 「君が代」のレコード演奏に合わせ、4節（第八州国創生、君が代詩歌、天岩窟、金色のとび）の日本神話が展開する。監督の大藤信郎は独自の「千代紙映画」を開拓した切り絵アニメーションの巨匠。戦後にはカンヌ、ベネチア国際映画祭で受賞するなど海外での評価も高い。
    .film
      h2
        .ja 漫画　森の野球団
      .capture
        img(src='./images/morino.png')
      .info
        p 1934年／日本／8min／モノクロ／ＤＶＤ
        p 監督：原田誠一
      .desc
        p 森の動物たちの野球試合。試合の途中でキツネが姫に、タヌキが奴に化け歌舞伎調になったり、ミッキーマウス、ミニーマウス、ベティブープが出てきたり…。アシスタントには「日本アニメーションの父」と評される政岡憲三が就き、タヌキの声も吹き込んでいる。
    .film
      h2
        .ja マー坊の東京オリンピック大会
      .capture
        img(src='./images/marboh.png')
      .info
        p 1936年／日本／11min／モノクロ／ＤＶＤ
        p 監督：佐藤吟次郎、千葉洋路
      .desc
        p 少年マー坊はオリンピックに向けて動物園の動物をコーチに猛練習。ダチョウに走り方を、ペンギンに飛び込みを、アザラシに水泳を教えてもらって、全種目の優勝を目指す。日中戦争から太平洋戦争の時期に海軍省後援で生まれた「マー坊」シリーズの中では比較的平和な内容。
    .film
      h2
        .ja ライブと伴奏
      .capture
        img(src='./images/sidewalk.png')
      .info
        p サイドウォーク・サロン・オーケストラ（Sidewalk Salon Orchestra）
        p 瀬戸信行：クラリネット（clarinet）
        p 山田　裕：７弦ギター（7-strings guitar）
        p 照喜名俊典：ユーホニアム（euphonium）
        p 池田安友子：パーカッション（percussion）
      .desc
        p ピ〜ピ〜と鳴るクラリネット、ブカボカブ〜とユーホニアムが吹けば、ボロロンロンと７弦ギター、ポコポコドカドコ太鼓が響いて…色んな楽器の音楽隊がやってきた。
        p 世界の迷曲やだれも知らない名曲の数々を、楽しくさびしくうれしく悲しく…おもしろく演奏しましょう。音のついていない映画に、その場で演奏。あっという間に音楽でいのちを吹き込みます。
