doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    block title
    link(href='./index.css', type='text/css', rel='stylesheet')
  body
    .wrapper
      header
        .pure-u-1-5
          a(href='/')
            img(src='http://www.eiganokai.com/images/logo_s.jpg', alt='かなざわ映画の会')
        .pure-u-4-5
          .links
            a(href='/') ホーム
            a(href='/about') 団体概要
            a(href='/event') イベント
            a(href='/about/supporter.html') サポーター募集
            a(href='//eiganokai.blog.fc2.com/') ブログ
            a(href='/about/info.html') お問合わせ
      #maintitle
        p main image
      #mainmenu
        .pure-u-1-5
          .pure-menu-horizontal
            .pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
              a.pure-menu-link(href='#') program
              ul.pure-menu-children
                li.pure-menu-item
                  a(href='./countryhorror.html') 田舎ホラー大全科
                li.pure-menu-item
                  a(href='./faraway.html') 彼方より......
                li.pure-menu-item
                  a(href='./mel.html') 爆音メル・ギブソン
                li.pure-menu-item
                  a(href='./carpenter.html') 爆音カーペンター
                li.pure-menu-item
                  a(href='./kingkong.html') キングコング野外上映
        .pure-u-1-5
          a(href='./schedule.html')
            span schedule
        .pure-u-1-5
          a(href='./ticket.html')
            span ticket
        .pure-u-1-5
          a(href='./access.html')
            span access
        .pure-u-1-5
          span faq
      block body
      footer
        p Copyright &copy; 2007-2015, Kanazawa-Eiga-no-kai All rights reserved.
