doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    block title
    link(href='./index.css', type='text/css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Black+Ops+One', rel='stylesheet', type='text/css')
    block ogps
  body
    .wrapper
      header
        .pure-u-1-1.pure-u-sm-1-4.logo
          a(href='/')
            img(src='http://www.eiganokai.com/images/logo_s.jpg', alt='かなざわ映画の会')
        .pure-u-1-1.pure-u-sm-3-4
          .links
            a(href='/') ホーム
            a(href='/about') 団体概要
            a(href='/event') イベント
            a(href='/about/supporter.html') サポーター募集
            a(href='//eiganokai.blog.fc2.com/') ブログ
            a(href='/about/info.html') お問合わせ
      #maintitle
        a(href='./')
          img(src='./images/maintitle.png')
      #mainmenu
        .pure-u-1-2.pure-u-sm-1-4
          .pure-menu-horizontal.mainmenu-item
            .pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
              .pure-menu-link Program
              ul.pure-menu-children
                li.pure-menu-item
                  a(href='./kingkong.html') キングコング野外上映
                li.pure-menu-item
                  a.dottedAnchor(href='./countryhorror.html') 田舎ホラー大全科
                li.pure-menu-item
                  a(href='./kokou.html') 孤高の遠吠
                li.pure-menu-item
                  a(href='./mel.html') 爆音メル・ギブソン
                li.pure-menu-item
                  a(href='./carpenter.html') 爆音カーペンター
                li.pure-menu-item
                  a(href='./faraway.html') 彼方より⋯⋯
                li.pure-menu-item
                  a(href='./zero.html') ゼロ歳からの映画館
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./schedule.html') Schedule
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./ticket.html') Ticket
        .pure-u-1-2.pure-u-sm-1-4
          .mainmenu-item
            a.pure-menu-link(href='./access.html') Access
      block body
      footer
        p Copyright &copy; 2007-2015, Kanazawa-Eiga-no-kai All rights reserved.
